body{
	width: 960px;
	margin: auto;
}
header ul a li{
	text-decoration: none;
	display: inline;
	padding: 10px;
	text-align: center;
}
header ul{
	font-size: 0;
	margin: auto;
	text-align: center;
	width: 50%;
	float: right;
	margin-bottom: 100px;
}
header li{
	font-size: 16px;
}
h1{
	width: 50%;
	float: left;
	margin-bottom: 100px;
}

	
